# Node modules
node_modules/

# Android build
/android/app/build/
/android/build/
*.apk
*.so

# iOS build (jika ada)
ios/build/
*.xcworkspace
*.xcuserstate

# Logs and temporary files
*.log
.DS_Store
*.tmp
*.swp

# IDE/editor files
.idea/
.vscode/

# Git LFS metadata (optional)
.gitattributes
